canvas {
  width: 300pt;
  margin: 10px;
  border: 1px solid green;
}

.button {
  background-color: #72b2a9;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Georgia, serif;
  font-weight: bold;
}

.reset {
  background-color: #00994f;
  border: none;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Georgia, serif;
  font-weight: bold;
}

body {
  background-color: #dfece6;
}

h1 {
  font-family: Georgia, serif;
  color: #084b42;
}

h2 {
  font-family: Georgia, serif;
  color: #084b42;
}

div {
  font-family: Georgia, serif;
  color: #084b42;
}

.rainbow-button {
  text-decoration: none;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  margin: 4px 2px;
  font-family: Georgia, serif;
}

.rainbow-button:hover {
  animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
